.khan__buy-link {
  line-height: 42px;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.3;
  transform: color 0.5s linear initial;
}

.khan__buy-link:active {
  opacity: 0.3;
  transform: color 0.5s linear initial;
}

